button{
    background-color: #191654;
    color: white;
    border: none;
    height: 42px;
    width: 64px;
    border-radius: 10%;
    cursor: pointer;
    margin-left: 64px;
    font-weight: bold;
    min-width: 36px;
    font-size: 20px;
}
.grey-button{
    background-color: grey;
    cursor: auto;
}