.counter-button{
    
    font-size: 36px;
    margin: 32px;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
    
}
#root{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1{
    margin: 0;
    font-size: 72px;
}

.starwars-btn{
    align-self: flex-start;
    width: 100px;
}